.Weather {
    border: 1px solid #dadde1;
    color :rgb(21, 163, 199);
    padding: 16px;
    border-radius: 4px;
    box-shadow:
     inset 0 -3em 3em rgb(255, 101, 30),
    0 0 0 2px rgb(87, 165, 210),
    0.3em 0.1em 1em rgb(255, 191, 2);
}

.Weather h1{
font-size: 36px;
font-weight: 100;
margin: 20px 0 0 0;
line-height: 29px;
}

.Weather ul {
    margin: 0;
    padding: 0;
}

.Weather li {
    font-size: 18px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather svg {
    height: 64px;
    width: 64px;
    display: inline-block;
    padding: 0;
    margin-top: 0;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(6, 65, 90, 0.8);
    font-size: 64px;
    line-height: 1px;
    font-weight: 400;   
    margin-left: 60px;
}

.Weather .unit {
    color: rgb(6, 65, 90, 0.8);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

.Weather a {
    color: rgb(255, 184, 3, 0.7);
    text-decoration: none;
}

.Weather form {
    color: rgb(6, 65, 90, 0.8);
    
}