.WeatherForecast {
    text-align: center;
}

.WeatherForecast-temp-min {
    opacity: 0.6;
    margin-left: 5px;
}

.WeatherForecast-box {
    background-color: rgb(3, 30, 107, 0.2);
    border-radius: 6px;
    margin: 30px 8px 0;
    box-shadow: 5px 5px 12px rgba(192, 182, 182, 0.338);
    padding: 15px 5px; 
    border: 1px solid #dadde1;
}